[Unit]
Description=UDPBD Server for PS2
After=network.target

[Service]
Type=simple
ExecStart={{ udpbd_bin_path }} "{{ udpbd_image_path }}"
Restart=always
User={{ username }}

[Install]
WantedBy=multi-user.target