# vars
storage_dir: "/mnt/storage"
storage_media_dir: "{{ storage_dir }}/media"
storage_data_dir: "{{ storage_dir }}/data"

# essentials
hostname: goldenford
public_domain: "{{ vault_public_domain }}"
username: similicious

# geerlingguy.security
security_sudoers_passwordless:
  - "{{ username }}"

security_ssh_allowed_users:
  - "{{ username }}"

# vladgh.samba.server
samba_users:
  - name: "{{ username }}"
    password: "{{ vault_samba_user_password }}"

samba_shares:
  - name: media
    path: "{{ storage_media_dir }}"
    group: "{{ username }}"
    write_list: "{{ username }}"
  - name: data
    path: "{{ storage_data_dir }}"
    group: "{{ username }}"
    write_list: "{{ username }}"
  - name: PS2
    path: "{{ storage_media_dir }}/roms/Sony - PlayStation 2/Share"
    group: "{{ username }}"
    write_list: "{{ username }}"

samba_server_min_protocol: "NT1"
samba_global_config_extras: |
  ntlm auth = yes
  veto files = /._*/.DS_Store/Thumbs.db/desktop.ini/
  delete veto files = yes

# all docker services
docker_container_data_root: "/mnt/appdata/docker"
docker_container_puid: 1000
docker_container_pgid: 1000
docker_compose_root: "{{ docker_container_data_root }}/compose"

# role: traefik
traefik_ssl_certs_dir: "{{ docker_container_data_root }}/traefik/certificates"
traefik_args: >
  --log.level=INFO
  --entrypoints.http.http.redirections.entryPoint.to=https
  --entrypoints.http.http.redirections.entryPoint.scheme=https
  --entrypoints.http.http.redirections.entrypoint.permanent=true
  --entrypoints.https.http.tls.certResolver=letsencrypt
  --entrypoints.https.http.tls.domains[0].main={{ public_domain }}
  --entrypoints.https.http.tls.domains[0].sans=*.{{ public_domain }}
  --certificatesresolvers.letsencrypt.acme.email={{ vault_email }}
  --certificatesresolvers.letsencrypt.acme.dnschallenge=true
  --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=hetzner
  --certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=8.8.8.8:53
  --certificatesresolvers.letsencrypt.acme.storage=/ssl-certs/acme.json

traefik_env:
  HETZNER_API_KEY: "{{ vault_hetzner_api_key }}"
  LEGO_DISABLE_CNAME_SUPPORT: "true"

traefik_labels:
  traefik.http.routers.api.middlewares: "authelia@docker"

traefik_dynamic_file_content: |
  http:
    routers:
      proxmox:
        rule: "Host(`proxmox.{{ public_domain }}`) && {{ traefik_internal_client_ip_v3 }}"
        service: "proxmox"

    services:
      proxmox:
        loadBalancer:
          servers:
            - url: "https://10.4.20.60:8006"

# role: portainer
portainer_config_dir: "{{ docker_container_data_root }}/portainer"

# role: stash
stash_config_dir: "{{ docker_container_data_root }}/stash"
stash_media_dir: "{{ storage_media_dir }}/{{ vault_stash_media_dir }}"

# role: jellyfin
jellyfin_media_mounts:
  - "{{ storage_media_dir }}/tv:/data/tvshows"
  - "{{ storage_media_dir }}/movies:/data/movies"

# role: nzb
nzb_data_root: "{{ storage_media_dir }}"

# role: jdownloader
jdownloader_download_dir: "{{ storage_media_dir }}/downloads/jdownloader"

# role: transmission
transmission_download_dir: "{{ storage_media_dir }}/downloads/torrent"

# role: adguard
adguard_rewrites:
  - domain: "{{ vault_public_domain }}"
    answer: "10.4.20.60"
  - domain: "*.{{ vault_public_domain }}"
    answer: "10.4.20.60"

# githubixx.ansible_role_wireguard
wireguard_address: "10.10.0.1/24"
wireguard_endpoint: "jellyfin.{{ public_domain }}"
wireguard_allowed_ips: "10.10.0.1/32, 10.4.20.0/24"

# role: watchtwoer
watchtower_mount_auth: true

# role: beszel
beszel_hub_enabled: true
beszel_agent_mounts:
  - "{{ storage_data_dir }}:/extra-filesystems/data:ro"
  - "{{ storage_media_dir }}:/extra-filesystems/media:ro"
beszel_agent_networks:
  - name: "{{ traefik_network_name }}"
